body{
	background-image: url("bgd.png");
    background-repeat: repeat-xy;    
}
.wrapper{
	margin: 0 auto;
}
.tg {
	border-collapse:collapse;
	border-spacing:0;
}
h1, h2, h3{
	font-family: 'Scope One', serif;
	color:#8AC6D0;
	text-align: center;
}
table, th, td {
	border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 5px;
    font: normal 13px Arial, sans-serif;
}
table.center{
	margin: 0 auto;
}
.header {
	background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.dark {
	background-color: #C4FFF9;
	border: solid 1px #DDEEEE;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}
.light {
	background-color: white;
	border: solid 1px #DDEEEE;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}